altgraph==0.17.3
beautifulsoup4==4.12.2
chardet==5.2.0
css-parser==1.0.9
html5-parser==0.4.11
html5lib==1.1
lxml==4.9.3
mechanize==0.4.8
msgpack==1.0.5
Pillow==10.0.0
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
PyQt6==6.5.2
PyQt6-Qt6==6.5.2
PyQt6-sip==13.5.2
regex==2023.8.8
six==1.16.0
soupsieve==2.5
webencodings==0.5.1